name: Continuous Deployment

on:
  push:
    branches: [continuous-deployment]

jobs:
  cd:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Versioning
      id: versioning
      uses: paulhatch/semantic-version@v5.0.3
      with:
        tag_prefix: "v"
        major_pattern: "(MAJOR)"
        minor_pattern: "(MINOR)"
        format: "${major}.${minor}.${patch}-prerelease${increment}"
    - name: Check version
      run: echo "Version is ${{ steps.versioning.outputs.version }}"
    - name: Modify version  # vfsfusepy/version.py: __version__ = "..."
      run: sed -i "s/__version__ = \".*\"/__version__ = \"${{ steps.versioning.outputs.version }}\"/" vfsfusepy/version.py
    # - name: Commit version  # use GITHUB_TOKEN, username: github-actions[bot], email: github-actions[bot]@users.noreply
    #   run: |
    #     git config --local user.email "github-actions[bot]@users.noreply.github.com"
    #     git config --local user.name "github-actions[bot]"
    #     git commit -am "Bump version to ${{ steps.versioning.outputs.version }}"
    # - name: Push version
    #   uses: ad-m/github-push-action@v0.6.0
    #   with:
    #     github_token: ${{ secrets.GITHUB_TOKEN }}
    #     branch: main
    # - name: Tag version
    #   uses: mathieudutour/github-tag-action@v5.1.1
    #   with:
    #     github_token: ${{ secrets.GITHUB_TOKEN }}
    #     tag: ${{ steps.versioning.outputs.version }}
    #     message: "Release ${{ steps.versioning.outputs.version }}"
    #     release_branches: main
    # - name: Build wheel
    #   run: |
    #     python -m pip install --upgrade pip
    #     pip install setuptools wheel build
    #     python -m build --sdist --wheel --outdir dist/
    # - name: Upload to PyPI
    #   uses: pypa/gh-action-pypi-publish@release/v1
    #   with:
    #     packages-dir: dist/